{% extends "base.html" %}

{% block extra-js %}
<script src="/static/stupidtable.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#poststable').stupidtable()
    $('#time-column .time-column').click()

    // New UI for DateTime
    const dateAndTime = flatpickr("#date-change", {
        altInput:true,
        defaultDate: "{{ view_date|date:'Y-m-d' }}",
        onChange: function(selectedDates, dateStr, instance) {
            let selected = { date: selectedDates[0] };
            window.location.href = "?" + $.param(selected);
        }
    });

    // Arrows for sorting 
    $('#poststable th').on('click', function() {
        if(!($(this).find('.category').hasClass('active-category'))){
            $('.active-category').siblings('.sort-arrow-down').removeClass('sort-arrow-down');
            $('.active-category').siblings('.sort-arrow-up').removeClass('sort-arrow-up');
            $('.active-category').removeClass('active-category');
            $(this).find('.category').addClass('active-category');
        }
        if($(this).find('.category').siblings('.sort-arrow').hasClass('sort-arrow-down')){
            $(this).find('.category').siblings('.sort-arrow').removeClass('sort-arrow-down');
            $(this).find('.category').siblings('.sort-arrow').addClass('sort-arrow-up');  
        } else if($(this).find('.category').siblings('.sort-arrow').hasClass('sort-arrow-up')){
            $(this).find('.category').siblings('.sort-arrow').removeClass('sort-arrow-up');
            $(this).find('.category').siblings('.sort-arrow').addClass('sort-arrow-down');
        } else{
            $(this).find('.category').siblings('.sort-arrow').addClass('sort-arrow-down');
        }
    });

});
</script>
{% endblock %}

{% block content %}
{% include "scheduler/include_header.html" %}

{% for message in messages %}
{% if message %}
<div class="row">
    <div class="large-12 columns">
        <div class="alert-box {{ message.mtype }}">
            {{ message.mtext }}
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

<div class="row">
    <form id="posts-date" class="large-6 columns large-centered">
        <div class="row collapse">
            <div class="small-3 columns">
                <label for="date-change" class="right inline">Posts for</label>
            </div>
            <div class="small-7 columns">
                <input type="text" id="date-change" name="date" value="{{ view_date|date:"F j, Y" }}" />
            </div>
            <div class="small-2 columns">
                <input type="submit" value="Go" class="button prefix" />
            </div>
        </div>
    </form><!-- end div#posts-date -->
</div>

{% if message %}
<div class="row">
    <div data-alert class="alert-box {{ message.mtype }}">
        {{ message.mtext }}
        <a href="#" class="close">&times;</a>
    </div>
</div>
{% endif %}

<div class="row"><div class="large-12 columns">
    <table id="poststable">
        <thead>
            <tr>
                <th></th>
                <th data-sort="string">
                    <div class="categories">
                        <div class="category">Slug</div>
                        <div class="sort-arrow"</div>
                    </div>
                </th>
                <th data-sort="string" class="section-column">
                    <div class="categories">
                        <div class="category">Section</div>
                        <div class="sort-arrow"</div>
                    </div>
                </th>
                <th data-sort="string" class="twitter-column">
                    <div class="categories">
                        <div class="category">Twitter</div>
                        <div class="sort-arrow"</div>
                    </div>
                </th>
                <th data-sort="string" class="facebook-column">
                    <div class="categories">
                        <div class="category">Facebook Post</div>
                        <div class="sort-arrow"</div>
                    </div>
                </th>
                <th data-sort="int" class="time-column">
                    <div class="categories">
                        <div class="category">Post Time</div>
                        <div class="sort-arrow"</div>
                    </div>
                </th>
                <th data-sort="string">
                    <div class="categories">
                        <div class="category">Status</div>
                        <div class="sort-arrow"</div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for post, data in smposts %}
                <tr class="{% if post.sent %}sent {% endif %}{% if not post.pub_date %}lost {% endif %}{% if post.post_status == 3 %}ready {% endif %}{% if post.post_status == 1 %}sent-error {% endif %}{% if post.post_status == 5 %}copy-edited {% endif %}{% if post.sending %}sending {% endif %}">
                    <td><a href="/edit/{{ post.id }}/"><i class="foundicon-edit"></i></a></td>
                    <td><a href="/edit/{{ post.id }}/">{{ post.slug }}</a></td>
                    <td class="section-column">{{ post.section.name }}</td>
                    <td class="twitter-column">{{ post.post_twitter }}<br/>Retweets: {{ data.retweet_count }}<br/>Favorites: {{ data.favorite_count }}</td>
                    <td class="facebook-column">{{ post.post_facebook }}<br/>Reactions: {{ data.reactions_count }}</td>
                    <td {% if post.pub_time %}data-sort-value="{{ post.pub_time|time:'Hi' }}"{% endif %}>{% if post.pub_time %}{{ post.pub_time }}{% endif %}</td>
                    <td>{{ post.post_status_string }}</td>
                </tr>
            </a>
            {% endfor %}
        </tbody>
    </table>
</div></div>


{% endblock %}
