{% extends "base.html" %}

{% block extra-css %}
<link rel="stylesheet" href="/static/bootstrap-timepicker.min.css" type="text/css">
{% endblock %}

{% block extra-js %}
<script type="text/javascript" src="/static/bootstrap-timepicker.min.js"></script>

<script type="text/javascript">
var TWITTER_LIMIT = {{ twitter_limit }};

$(document).ready(function(){
    var ready_to_publish = $('#approve-online').prop('checked');
    // If enable is true, the ready to publish checkbox will be unchecked and disabled
    // but the user will still be able to save.
    function publish_status(enable)
    {
        if(!$('#approve-online').prop('disabled'))
            ready_to_publish = $('#approve-online').prop('checked');
        if(enable)
        {
            $('#approve-online').prop('disabled',false);
            $('#approve-online').prop('checked', ready_to_publish);
        }
        else
        {
            $('#approve-online').prop('disabled',true);
            $('#approve-online').prop('checked',false);
        }
    }
    $('#url').keyup(function(){
        var this_url = $(this).val();
        if(this_url.trim().indexOf(" ") >= 0 || this_url.trim().indexOf('"') >= 0)
        {
            $(this).addClass('bad');
            publish_status(false);
        }
        else
        {
            $(this).removeClass('bad');
            publish_status(true);
        }
    });
    $('#url').keyup();

    $('#send_now').click(function(e) {
        e.preventDefault();
        console.log("send now button was clicked");
        var postId = {{ post.id }};
        console.log({{ post.id }});
        $.ajax({
            url: "/api/send-now/" + postId + "/",
            method: "POST",
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            data: postId,
            dataType: "json"
        }).done(function(response) {
            console.log(response.id + " " + response.name);
        }).fail(function (error) {
            console.log(error);
        });
        //window.location.href = '../api/send-now/';
    });

    $('#pub_time').timepicker({
        template: false,
        showInputs: false,
        minuteStep: 5,
        defaultTime: false,
    });

    // New UI for DateTime
    var postedDateTime = "today"; // default date is today

    if("{{post.pub_date}}" && "{{ post.pub_time }}"){
        // there is a pub_date (i.e. we are editing a post that has previously specified a date)
        postedDateTime = "{{ post.pub_date|date:'Y-m-d' }} {{ post.pub_time|time:'H:i A'}}";
    } else{
        postedDateTime = Date.now();
    }

    const dateAndTime = flatpickr("#pub_date_time", {
        altInput:true,
        defaultDate: postedDateTime,
        enableTime: true,
        minDate: "today",
    });
   

    $('#post-delete').submit(function(){
        var r = confirm("Are you sure you want to delete this post?")
        if (r != true)
        {
            return false;
        }
    });

    function checkTweet() {
        var curLength = $('#tweet').val().length;
        if(curLength > TWITTER_LIMIT)
        {
            $('#tweet').addClass('tooLong')
            $('#tweet-count').addClass('tooLong')
        }
        else
        {
            $('#tweet').removeClass('tooLong')
            $('#tweet-count').removeClass('tooLong')
        }
        $('#tweet-count').text(TWITTER_LIMIT - curLength)
    }
    $('#tweet').bind('paste keyup blur', checkTweet);
    checkTweet();
});
</script>
{% endblock %}

{% block content %}
{% include "scheduler/include_header.html" %}

{% if message %}
<div class="row">
    <div class="large-12 columns">
        <div class="alert-box {{ message.mtype }}">
            {{ message.mtext }}
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    {% if post.sent_error %}
    <div class="large-12 columns">
        <div class="alert-box alert">
            <p><strong>This post did not send correctly. Here's the error message:</strong></p>
            {{ post.sent_error_text }}
        </div>
    </div>
    {% endif %}
    <form id="post-edit" method="post">
        {% csrf_token %}
        {% if post.id %}
            <input type="hidden" name="post_id" value="{{ post.id }}" />
        {% endif %}

        <div class="large-7 columns">
            <div class="row">
                <div class="large-8 columns">
                    <label for="slug">Slug</label>
                    <input type="text" id="slug" name="slug" placeholder="slug" value="{{ post.slug }}" />
                </div>
                <div class="large-4 columns">
                    <label for="section">Section</label>
                    <select id="section" name="section">
                        {% if not post.section %}
                            <option disabled selected>Select a section</option>
                        {% endif %}
                        {% for section in sections %}
                        <option value="{{ section.id }}" {% if section.id == post.section.id %}selected{% endif %}>{{ section.name }}</option>
                        {% endfor %}
                    </select>
                </div>

            </div><!-- end div.row -->

            <label for="url">URL</label>
            <input type="text" id="url" name="url" placeholder="http://" value="{{ post.story_url }}" />

            <label for="tweet">Tweet</label>
            <textarea type="text" id="tweet" name="tweet" placeholder="tweet" rows="3">{{ post.post_twitter }}</textarea>
            <div id="tweet-count">{{ twitter_limit }}</div>

            <label for="fb">Facebook post</label>
            <textarea type="text" id="fb" name="fb" placeholder="post" rows="5">{{ post.post_facebook }}</textarea>

            <p id="post-guidance-text"><b>Note:</b> Leaving the tweet text box empty will not post to Twitter. Similarly, leaving the facebook text box empty will not post to Facebook.</p>
        </div>

        <div class="large-5 columns">
            <fieldset id="prepublish-checks">
                <div class="prepublish-inside">
                    <input type="checkbox" id="approve-copy" name="approve-copy" {% if post.pub_ready_copy == True %}checked{% endif %} {% if not perms.scheduler.approve_copy %}disabled{% endif %} />
                    <label for="approve-copy">Copy-edited</label>
                    {% if post.pub_ready_copy_user %}<span class="approval-by">by {{ post.pub_ready_copy_user.first_name }} {{ post.pub_ready_copy_user.last_name }}</span>{% endif %}
                </div>
                <div class="prepublish-inside">
                    <input type="checkbox" id="approve-online" name="approve-online" {% if post.pub_ready_online == True %}checked{% endif %} {% if not perms.scheduler.approve_online %}disabled{% endif %} />
                    <label for="approve-online">Ready to publish</label>
                    {% if post.pub_ready_online_user %}<span class="approval-by">by {{ post.pub_ready_online_user.first_name }} {{ post.pub_ready_online_user.last_name }}</span>{% endif %}
                </div>
            </fieldset>

            <label for="pub_date_time">Publish date</label>
            
            <input type="text" id="pub_date_time" name="pub_date_time" value="{% if post.pub_date %}{{ post.pub_date|date:"F j, Y" }}{{ post.pub_time|time:"h:i A" }}{% endif %}" placeholder="May 23, 1919 12:00 AM" />

            <input type="submit" value="Save" name="submit" class="button" />
            {% if post.id and not post.sent %}
            <input type="submit" value="Send Now" name="submit_now" id="send_now" class="button" />
            {% endif %}
            {% if post.last_edit_user %}<span class="approval-by">Last saved by {{ post.last_edit_user.first_name }} {{ post.last_edit_user.last_name }}</span>{% endif %}
        </div>

    </form>
</div><!-- end div.row -->

{% if post.id and not post.sent %}
<div class="row">
    <form id="post-delete" method="post" action="/" class="large-12 columns">
        {% csrf_token %}
        <input type="hidden" value="{{ post.id }}" name="post_id_to_delete" />
        <input type="submit" value="Delete post"></a>
    </form>
</div>
{% endif %}


{% endblock %}
