{% extends "base.html" %} {% block content %}

<div class="row">
    <div id="login-form" class="large-4 columns small-centered">
        <h1>meow</h1>

        {% if form.errors %}
        <p class="alert-box alert">Your username and password didn't match. Please try again.</p>
        {% endif %}


        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            <input id="id_username" maxlength="254" name="username" type="text" placeholder="username" />

            <input id="id_password" name="password" type="password" placeholder="password" />

            <input type="submit" value="Login" class="button expand" />
            <input type="hidden" name="next" value="{{ next }}" />


        </form>


    </div>
    <!-- end div#login-form -->
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#id_username').focus();
    });

</script>

{% endblock %}