version: "3"

services:
  web:
    build: .
    image: meow
    command: honcho start -f Procfile.dev
    entrypoint: ./entrypoint.sh
    ports:
      - "5000:5000"
    env_file: .env
    depends_on:
      - db
      - redis
    volumes:
      - .:/meow
  db:
    image: postgres:latest
    environment:
      POSTGRES_PASSWORD: example
  redis:
    image: redis:alpine
