.meow-collapse {
  /* background-color: #1a9ae0; */
  border: none;
}

.meow-collapse .ant-checkbox-wrapper {
  display: block;
  margin-left: 0;
}

.full-width-panel .ant-collapse-content-box {
  padding: 0;
}

.ant-collapse-borderless > .ant-collapse-item {
  border-bottom: none;
}
