.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /*The body has 8px margin so this has to be a seperate component*/
  .background-pic {
    position: absolute;
    z-index: -1000; //good enough
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    //the exact background pic will be determined by Login.js
    //background: url("https://news.nationalgeographic.com/content/dam/news/2018/05/17/you-can-train-your-cat/02-cat-training-NationalGeographic_1484324.ngsversion.1526587209178.adapt.1900.1.jpg");
  }

  h1 {
    font: 72px 'Varela Round', sans-serif;

    span {
      font-size: 36px;
    }
  }

  .login-form {
    label {
      font: 42px 'Varela Round', sans-serif;

      input {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid black;
        border-radius: 0;
        font: 42px 'Varela Round', sans-serif;
        outline: none;
        box-shadow: none;
      }
    }

    #submit_button {
      background-color: dodgerblue;
      font: 42px 'Varela Round', sans-serif;
      border-radius: 20px;
      padding: 0.2em 1.5em;
    }
  }
}
