html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
    color: #0f5a6a;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    -webkit-transition: -webkit-box-shadow 0.1s,border-color 0.1s ease-in-out;
    -moz-transition: -moz-box-shadow 0.1s,border-color 0.1s ease-in-out;
    transition: box-shadow 0.1s,border-color 0.1s ease-in-out;
}

.alert-box {
    border-top-width: 3px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    font-weight:400;
}
.alert-box.success {
    background-color:#f0fbef;
    color:black;
}
.alert-box.alert {
    background-color:#FBEFEF;
    color:black;
}

/* These .message-* rules should be removed */
.message-success {
    background-color: #f0fbef;
    padding: 10px;
    border-top: 3px solid #25db1d;
    margin-top: 32px;
    color:#333;
}
.message-status {
    background-color: #fbfbfb;
    padding: 10px;
    border-top: 3px solid #dbdbdb;
    margin-top: 32px;
    color:#333;
}
.message-fail {
    background-color: #FBEFEF;
    padding: 10px;
    border-top: 3px solid #DB1D5A;
    margin-top: 32px;
    color: #333;
}

input[type="text"], input[type="password"], textarea, input[type="email"] {
    width: 100%;
    -webkit-appearance: none;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 20px;
    color: #333;
    margin: 15px 0;
    box-sizing: border-box;
}
label+input[type="text"], label+input[type="password"], label+textarea, label+input[type="email"] {
    margin-top:2px;
}


input[type="text"]:focus, input[type="password"]:focus, textarea:focus, input[type="email"]:focus {
    border: 1px solid #1b798d;
    outline: none;
}

input[type="button"], input[type="submit"], button, .button {
    -webkit-appearance: none;
    display:block;
    border: none;
    background-color: #0f5a6a;
    color: white;
    font-weight: bold;
    padding: 8px 13px;
    border-bottom: 4px solid #1b798d;
    text-decoration:none;
    text-align:center;
}
input[type="button"]:hover, input[type="submit"]:hover, button:hover, .button:hover {
    background-color:#106b7e;
}



.button-small {
    text-transform: uppercase;
    font-size: 12px;
    padding: 4px 9px;
}

.header {
    margin-top: 5px;
}
.header-right {
    float:right;
    text-align:right;
}

#poststable {
    width: 100%;
    border:none;
    font-size:1em;
}

#poststable td {
    padding:10px;
}

#poststable thead {
    background-color:transparent;
}

#poststable thead tr {
    border-bottom: 1px solid #0f5a6a;
    margin-bottom: 10px;
    line-height: 36px;
}

#poststable th {
    user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -webkit-user-select:none;
    cursor:pointer;

    color:#0f5a6a;
    font-weight:400;
    font-size: 20px;
}

#poststable tr:hover {
    background-color: #f5f5f5;;
}
#poststable thead tr:hover {
    background-color:white;
}
#poststable .time-column {
    min-width:96px;
}

#poststable tbody .sent td, #poststable tbody .sending td {
    color:#999;
}
#poststable tbody .sent.sent-error td {
    background-color:#db1d5a;
    color:white;
}

#poststable tbody .copy-edited td {
    color:#a26917;
}

#poststable tbody .ready td {
    color:#1dae17;
}

#poststable tbody .lost {
    background-color:#F5EDEB;
}

#poststable .sorting-desc, #poststable .sorting-asc {
    border-bottom: 2px solid #0f5a6a;
}

#poststable tbody {
    color: #333;
}

.header {
    margin-bottom:18px;
}

.page-title {
    color: #0f5a6a;
    opacity: 0.5;
    font-weight: bold;
    font-size: 21px;
    line-height:23px;
    text-decoration:none;
}
.user-settings {
    color: #0f5a6a;
    font-size: 15px;
    opacity: 0.5;
    margin-left: 21px;
    line-height:23px;
    text-decoration:none;
}
.meow-manage {
    opacity:0.5;
    position: relative;
    top: 2px;
    margin-left: 4px;
}

#new-button {
    width: 70px;
    float: right;
    padding: 0.2em;
    margin: 0;
}

#login-form {
    margin-top:100px;
    margin-bottom:50px;
}

#login-form h1 {
    text-align:center;
    margin-bottom:40px;
}

#login-form input[type="submit"] {
    width: 100%;
    font-size: 18px;
    margin-top: 21px;
}

.logout-link {
    color: #0f5a6b;
    opacity: 0.5;
    margin-left: 9px;
    text-transform: uppercase;
    font-size: 10px;
    text-decoration: none;
    position: relative;
    top: -1px;
}

#post-edit {
    margin-top: 33px;
    display: block;
}

#post-edit textarea {
    min-height:100px;
}

#post-edit label, label {
    color: #0f5a6a;
    font-size: 18px;
    font-weight: 200;
    display:block;
}

#post-edit #slug {
    font-weight:bold;
}

#post-edit input[type="text"] {
    margin-top: 5px;
}
#post-edit #section {
    margin-top: 10px;
}
#post-edit #prepublish-checks {
    padding: 10px;
    border: 0;
    margin: 0;
    background-color: #ebf4f5;
    margin-bottom: 10px;
}
#post-edit #prepublish-checks label {
    display:inline;
}
#post-edit .prepublish-inside {
    display:block;
    padding:10px;
}
#post-edit input[type="submit"] {
    margin-top: 10px;
    width: 100%;
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom:10px;
}

#post-edit label[for="pub_date"] {
    float:left;
}

#post-edit .pub_date_quick {
    display:block;
    float:right;
    margin-left:10px;
    text-transform:uppercase;
    color:#999;
    text-decoration:none;
    font-size: 10px;
    padding:4px;
    border-radius:2px;
}
#post-edit .pub_date_quick:hover {
    background-color:#eee;
}

#post-edit input[disabled], #post-edit textarea[disabled] {
    border: none;
}

#post-delete input[type="submit"] {
    background: none;
    color: #999;
    font-weight: normal;
    border: none;
    padding: 0;
    margin: 0;
    float: right;
    margin-top: 0px;
    font-size: 15px;
}

#post-guidance-text{
  font-size: 10px;
  color: gray;
}

#cats{
  height: 52px;
  margin-right: 5px;
}

#tweet.tooLong, input.bad, #tweet.tooLong:focus, input.bad:focus {
    border-color:red;
}

#tweet-count.tooLong {
    color:red;
}

#tweet-count {
    text-align: right;
    font-size: 12px;
    position: relative;
    top: -10px;
}

label[for="date-change"] {
    margin-right:5px;
    margin-top: -5px;
}
#date-change {
    font-size:0.875em;
    margin:0;
}

.user-edit .unbold {
    font-weight:normal;
}
.user-edit #password2 {
    margin-top:0;
}

.user-edit h2 {
    margin-top:0;
    color:#0f5a6a;
    font-size:1.5em;
}

.user-edit .user-permissions {
    margin-bottom:10px;
}

.label.staff {
    background-color:#803c12;
    color:#fff;
}
.label.super {
    background-color: #490f6a;
    color: #fff;
}

.on-switch-form input[type="submit"] {
    width:100%;
}

body {
    padding-bottom:20px;
}

.approval-by {
    font-weight: 200;
    color: #1b798d;
    font-size: 0.7em;
}

#site-message-form #site-message {
    min-height:100px;
}

.site-message {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #1b798d;
    color: white;
}
.site-message.alert {
    background-color:#db1d5a;
}

[data-abide] .error small.error, [data-abide] span.error, [data-abide] small.error {
    margin-top:-15px;
}

#poststable a {
    color:inherit;
}
#poststable a:hover {
    text-decoration:underline;
}

/* Very large screens */
@media only screen and (min-width: 1441px) {  }

/* Medium screens */
@media only screen and (max-width: 1279px) and (min-width: 768px) {
}

/* Small screens */
@media only screen and (max-width: 767px) {
    #poststable .twitter-column, #poststable .facebook-column {
        display:none;
    }
    #poststable {
        font-size: 0.7em;
    }
}

/* Landscape Orientation */
@media screen and (orientation: landscape) {  }

/* Portrait Orientation */
@media screen and (orientation: portrait) {
    #poststable .section-column {
        display:none;
    }
}

/* Touch Detection */
.touch .your-class { ... }
