/*  Move this into index.css when doen  */

.user-profile-row {
  display: flex;
  flex-grow: 1;
}

.user-profile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  font-family: Varela Round;
  color: black;
}

/* User Profile Image */
.user-profile-image-container {
  width: 45%;
}

.user-profile-image {
  width: 100%;
  height: 100%;
  border-radius: 200px;
  box-sizing: border-box;
  border: 5px solid black;
}

/* User Profile Basic Information */
.user-profile-basic-info-container {
  width: auto;
}

.user-profile-basic-info-container ul {
  padding: 0;
}

.user-profile-basic-info-form-group {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.user-profile-basic-info-title {
  min-width: 120px;
  font-size: 2.2em;
  margin-bottom: 0px;
}

.user-profile-basic-info-data {
  flex: 1 0 40%;
  max-width: 500px;
  font-size: 2em;
  margin-bottom: 0px;
  border-bottom: 2px solid #000;
}

.user-profile-basic-info-horizontal-line {
  width: 90%;
  margin-right: 10%;
  /* margin-left: 30%; */
  margin-top: 0px;
  margin-bottom: 10px;
}

.user-profile-bio-container {
  width: 50%;
  height: 50%;
  margin-right: 40px;
  margin-top: 60px;
  margin-left: 40px;
}

.user-profile-bio-header {
  font-size: 2.2em;
}

.user-profile-bio-paragraph {
  font-size: 1.3em;
  max-width: 100%;
  word-wrap: break-word;
}

/* User Profile Theme */
.user-profile-theme-container {
  width: 50%;
  height: 50%;
  flex-grow: 1;
  padding-bottom: 100px;
  margin-top: 40px;
}

.user-profile-theme-header {
  font-size: 2.2em;
}

.user-profile-theme-box {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}

.user-profile-theme-dot {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
  border: 3px black solid;
}

.user-profile-theme-row {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 15px;
  align-items: center;
  height: auto;
  border: 2px solid lightgrey;
}

.user-profile-theme-row-active {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 15px;
  align-items: center;
  border: 3px solid black;
}

.user-profile-theme-row-name {
  font-size: 12px;
  width: 34px;
  margin-right: 10px;
  margin-left: 3px;
  text-align: center;
  overflow-wrap: anywhere;
}

.user-profile-theme-row-hand {
  width: 30px;
  margin-left: 6px;
}

.user-profile-social-media-bubble {
  height: 50px;
  width: 50px;
  /* border-radius: 50%; */
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.user-profile-social-media-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-profile-social-media-container-edit-button {
  margin-top: 15px;
}

.user-profile-social-media-inline {
  display: flex;
  align-items: center;
}

.user-profile-social-media-url {
  font-size: 1.3em;
}

.user-profile-theme-row-dropdown-menu {
  display: inline;
  top: -48px;
}

.user-profile-theme-row-dropdown-menu-item {
  width: 168px;
  height: 58px;
  background: #ffffff;
  border: 0.5px solid #000000;
  box-sizing: border-box;
}

.user-profile-theme-row-dropdown-menu-item-edit {
  font-family: Varela Round;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 43px;
  color: #000000 !important;
  text-align: center;
}

.user-profile-theme-row-dropdown-menu-item-delete {
  font-family: Varela Round;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 43px;
  color: #ff0000 !important;
  text-align: center;
}

.user-profile-theme-row-dropdown {
  margin: 0 6px;
}

.user-profile-theme-row-star {
  margin: 0 7px;
}

.user-profile-theme-row-dropdown-icon {
  font-size: 30px;
  color: black;
  margin-top: 14px;
}

.user-profile-theme-row-modal-input {
  border-left: none;
  outline: none;
  border-right: none;
  border-top: none;
  border-bottom-color: black !important;
  width: 82%;
  border-radius: 0px;
  font-size: 18px;
}

.ant-modal-body {
  background: #ffffff;
  border: 3.5px solid #000;
  box-sizing: border-box;
  border-radius: 18px;
}

.ant-modal-content {
  border-radius: 18px;
}

.user-profile-theme-row-modal-items {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.user-profile-theme-row-modal-create-new-theme,
.user-profile-theme-row-modal-create-new-theme:hover,
.user-profile-theme-row-modal-create-new-theme:active,
.user-profile-theme-row-modal-create-new-theme:focus {
  background: #4699da;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  border-color: #4699da;
  color: white;
  font-size: 28px;
  width: 80%;
  height: 52px;
  margin-top: 15px;
}

.user-profile-theme-row-modal-colorpicker {
  margin-top: 4px;
  width: 82% !important;
  box-shadow: none !important;
  font-family: Varela Round !important;
  font-style: normal;
  font-weight: normal;
}

.saturation-black {
  border: 2px solid darkgrey;
}

.user-profile-theme-row-modal-cancel {
  margin-top: 11px;
  border: none;
  background-color: white;
  font-family: Varela Round;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
}

.user-profile-theme-row-modal-color-dots-container {
  display: flex;
  justify-content: space-around;
  width: 82%;
  margin-top: 16px;
  border: 2px solid darkgrey;
}

.user-profile-theme-row-modal-color-dot {
  border: 1.2px solid #000;
  box-sizing: border-box;
  border-radius: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 53.35px;
  height: 53.32px;
  font-family: Varela Round;
  font-size: 20px;
}

.user-profile-theme-add-button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: -2px;
}

.user-profile-theme-add-button {
  border: 1.2px solid #f0f2f5;
  background-color: #f0f2f5;
}

.ant-modal-confirm-body .ant-modal-confirm-title {
  font-weight: 600;
  font-size: 19px;
}

.ant-modal-confirm-body .ant-modal-confirm-content {
  font-size: 17px;
}

.user-profile-theme-see-more {
  margin-top: -2px;
}

.user-profile-theme-see-more button {
  border: none;
  color: rgb(179, 179, 179);
  background-color: none;
  font-size: 16px;
  font-weight: 300;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.unstarred-icon {
  margin-top: 11px;
  margin-left: -2px;
  font-size: 30px;
  color: #cfcfcf;
}

.starred-icon {
  margin-top: 11px;
  margin-left: -2px;
  font-size: 30px;
  color: #e6cf00;
}

.user-profile-theme-row-row-with-nav {
  display: flex;
  flex-direction: row;
  height: 76px;
  width: 465px;
}

.user-profile-additional-theme-row-row-with-nav {
  display: flex;
  flex-direction: row;
  height: 76px;
  width: 465px;
  animation: slidein 1s;
}

@keyframes rotateIn {
  from {
    opacity: 0.3;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(72deg);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    transform: translateX(15%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideout {
  from {
    transform: translateX(0%);
    opacity: 1;
  }

  to {
    transform: translateX(15%);
    opacity: 0;
  }
}

.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.user-profile-picture-bio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin-top: 20px;
}

.user-profile-user-info-themes-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 20px;
}

.user-profile-main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
