@import './components/components';

.ReactTable {
  .rt-resizable-header-content {
    text-align: left;
    font-size: 24px;
    color: rgb(61, 61, 61);
  }
  .rt-tbody {
    .rt-td {
      border-right: none !important;
    }
    .rt-tr-group {
      border-bottom: 1px solid darkgray !important;
    }
  }
  .rt-thead {
    .rt-th {
      border-right: none !important;
    }
  }
}
