.leftSidebarAdd {
  text-align: center;
}

.leftSidebarAdd > * {
  margin: 1em auto;
  width: 80%;
}

.error-message-section {
  position: absolute;
  color: red;
  top: 170px;
  left: 480px;
  font-size: small;
  z-index: 10000;
}
