{% extends "base.html" %}

{% block extra-js %}
<script src="/static/stupidtable.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#poststable').stupidtable()
});
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="header">
        <div class="header-left">
            <a class="page-title" href="/">meow</a>
            <span class="user-settings">{{ user.first_name }} {{ user.last_name }}</span>
            <a class="logout-link" href="/logout">Log out</a>
        </div>
        <div class="header-right">
            {% if perms.scheduler.add_edit_post %}<a href="/add" class="btn btn-small">+ New</a>{% endif %}
        </div>
    </div><!-- end div.header -->
    
    <form id="posts-date">
        <label for="date-change">Displaying posts for...</label>
        <input type="text" id="date-change" name="date" value="{{ view_date }}" />
        <input type="submit" value="Go" />
    </form><!-- end div#posts-date -->
    
    {% if message %}
    <div class="message-{{ message.mtype }}">
        {{ message.mtext }}
    </div>
    {% endif %}
    
    <table id="poststable">
        <thead>
            <tr>
                <th data-sort="string"></th>
                <th data-sort="string">Slug</th>
                <th data-sort="string">Section</th>
                <th data-sort="string">Tweet</th>
                <th data-sort="string">Facebook post</th>
                <th data-sort="int" class="time-column">Post time</th>
                <th data-sort="string">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for post in smposts %}
            <tr class="{% if post.sent %}sent {% endif %}{% if not post.pub_date %}lost {% endif %}">
                <td><a class="btn btn-small" href="/edit/{{ post.id }}/">{% if post.sent or not perms.scheduler.add_edit_post %}View{% else %}Edit{% endif %}</button></td>
                <td>{{ post.slug }}</td>
                <td>{{ post.section }}</td>
                <td>{{ post.post_twitter }}</td>
                <td>{{ post.post_facebook }}</td>
                <td {% if post.pub_time %}data-sort-value="{{ post.pub_time|time:'Hi' }}"{% endif %}>{% if post.pub_time %}{{ post.pub_time }}{% endif %}</td>
                <td>{{ post.post_status_string }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div><!-- end div.container -->


{% endblock %}