{% extends "base.html" %}

{% block extra-js %}
<script src="/static/stupidtable.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#poststable').stupidtable()
});
</script>
{% endblock %}

{% block content %}
{% include "scheduler/include_header.html" %}

<div class="row">
    <form id="posts-date" class="large-6 columns large-centered">
        <div class="row collapse">
            <div class="small-3 columns">
                <label for="date-change" class="right inline">Posts for</label>
            </div>
            <div class="small-7 columns">
                <input type="text" id="date-change" name="date" value="{{ view_date|date:"F j, Y" }}" />
            </div>
            <div class="small-2 columns">
                <input type="submit" value="Go" class="button prefix" />
            </div>
        </div>
    </form><!-- end div#posts-date -->
</div>

{% if message %}
<div class="row">
    <div data-alert class="alert-box {{ message.mtype }}">
        {{ message.mtext }}
        <a href="#" class="close">&times;</a>
    </div>
</div>
{% endif %}

<div class="row"><div class="large-12 columns">
    <table id="poststable">
        <thead>
            <tr>
                <th data-sort="string">Slug</th>
                <th data-sort="string" class="section-column">Section</th>
                <th data-sort="string" class="twitter-column">Tweet</th>
                <th data-sort="string" class="facebook-column">Facebook post</th>
                <th data-sort="int" class="time-column">Post time</th>
                <th data-sort="string">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for post in smposts %}
                <tr href="/edit/{{ post.id }}/" class="{% if post.sent or post.post_status == 3 %}sent {% endif %}{% if not post.pub_date %}lost {% endif %}">
                    <td>{{ post.slug }}</td>
                    <td class="section-column">{{ post.section }}</td>
                    <td class="twitter-column">{{ post.post_twitter }}</td>
                    <td class="facebook-column">{{ post.post_facebook }}</td>
                    <td {% if post.pub_time %}data-sort-value="{{ post.pub_time|time:'Hi' }}"{% endif %}>{% if post.pub_time %}{{ post.pub_time }}{% endif %}</td>
                    <td>{{ post.post_status_string }}</td>
                </tr>
            </a>
            {% endfor %}
        </tbody>
    </table>
</div></div>


{% endblock %}