{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="header">
        <div class="header-left">
            <span class="page-title">meow</span>
            <span class="user-settings">{{ user.first_name }} {{ user.last_name }}</span>
        </div>
        <div class="header-right">
            <a href="#" class="btn btn-small">+ New</a>
        </div>
    </div><!-- end div.header -->

    edit post stuff goes here
</div><!-- end div.container -->


{% endblock %}