{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="header">
        <div class="header-left">
            <a class="page-title" href="/">meow</a>
            <span class="user-settings">{{ user.first_name }} {{ user.last_name }}</span>
            <a class="logout-link" href="/logout">Log out</a>
        </div>
        <div class="header-right">
            <a href="#" class="btn btn-small">+ New</a>
        </div>
    </div><!-- end div.header -->

    <form id="post-edit" method="post">
        {% csrf_token %}
        {% if post.id %}
            <input type="hidden" name="post_id" value="{{ post.id }}" />
        {% endif %}
        
        <div class="col60"><div class="right-pad">
            <div class="col70"><div class="right-pad">
                <label for="slug">Slug</label>
                <input type="text" id="slug" name="slug" placeholder="slug" value="{{ post.slug }}" />
            </div></div>
            <div class="col30"><div class="left-pad">
                <label for="section">Section</label>
                <select id="section" name="section">
                    {% if not post.section %}
                        <option disabled selected>Select a section</option>
                    {% endif %}
                    {% for section in sections %}
                    <option value="{{ section.id }}" {% if section.id == post.section.id %}selected{% endif %}>{{ section }}</option>
                    {% endfor %}
                </select>
            </div></div>
            
            <div style="clear:both"></div>
        
            <label for="url">URL</label>
            <input type="text" id="url" name="url" placeholder="http://" value="{{ post.story_url }}" />
        
            <label for="tweet">Tweet</label>
            <textarea type="text" id="tweet" name="tweet" placeholder="tweet" rows="3">{{ post.post_twitter }}</textarea>
        
            <label for="fb">Facebook post</label>
            <textarea type="text" id="fb" name="fb" placeholder="post" rows="5">{{ post.post_facebook }}</textarea>
        </div></div>
        
        <div class="col40"><div class="left-pad">
            <fieldset id="prepublish-checks">
                <div class="prepublish-inside">
                    <input type="checkbox" id="approve-copy" name="approve-copy" {% if post.pub_ready_copy == True %}checked{% endif %}/>
                    <label for="approve-copy">Copy-edited</label>
                </div>
                <div class="prepublish-inside">
                    <input type="checkbox" id="approve-online" name="approve-online" {% if post.pub_ready_online == True %}checked{% endif %}/> 
                    <label for="approve-online">Ready to publish</label>
                </div>
            </fieldset>
            <input type="submit" value="Save" name="submit" />
        </div></div>
            
    </form>
</div><!-- end div.container -->


{% endblock %}