{% if site_settings.send_posts == "No" or siet_settings.send_posts == "no" %}
<div class="site-message alert">
    Sending is currently turned off. Nothing will send until an administrator turns it back on.
</div>
{% endif %}
{% if site_settings.site_message %}
<div class="site-message">
    {{ site_settings.site_message }}
</div>
{% endif %}
<div class="header row">
    <div class="large-12 columns">
        <a class="page-title" href="/">meow</a>
        {% if perms.add_user %}
        <a class="meow-manage" href="/manage">
            <i class="foundicon-settings"></i>
        </a>
        {% endif %}
        <a class="user-settings" href="/settings">{{ user.first_name }} {{ user.last_name }}</a>
        <a class="logout-link" href="/logout">Log out</a>
        <div class="header-right">
            {% if perms.scheduler.add_edit_post %}<a href="/add" class="button small" id="new-button">+ New</a>{% endif %}
        </div>
        
    </div>
</div><!-- end div.header -->
