{% extends "base.html" %}


{% block extra-js %}

<script type="text/javascript">
</script>
{% endblock %}

{% block content %}
{% include "scheduler/include_header.html" %}

{% if message %}
<div class="row">
    <div class="large-12 columns">
        <div class="alert-box {{ message.mtype }}">
            {{ message.mtext }}
        </div>
    </div>
</div>
{% endif %}

<div class="row"><div class="large-12 columns">
    <h2>Meow management</h2>
    <div class="section-container vertical-tabs" data-section="vertical-tabs">
        <section class="active">
            <p class="title" data-section-title><a href="#panel1">Add user</a></p>
            <div class="content" data-section-content>
                <form class="add-user" method="post" data-abide>
                    {% csrf_token %}
                    <input type="hidden" name="action" value="add-user" />
                    
                    <div class="row">
                        <div class="large-6 columns">
                            <div class="first-name">
                                <label for="first_name">First name</label>
                                <input name="first_name" type="text" required placeholder="Joe" value="{{ old_fields.first_name }}"></input>
                                <small class="error">Please enter a first name.</small>
                            </div>
                        </div>
                        <div class="large-6 columns">
                            <div class="last-name">
                                <label for="last_name">Last name</label>
                                <input name="last_name" type="text" required placeholder="Bruin" value="{{ old_fields.last_name }}"></input>
                                <small class="error">Please enter a last name.</small>
                            </div>
                        </div>
                    </div>
                        
                    <div class="row">
                        <div class="large-5 columns">
                            <div class="username-field">
                                <label for="username">Username</label>
                                <input name="username" type="text" required placeholder="jbruin" value="{{ old_fields.username }}"></input>
                                <small class="error">Please enter a username.</small>
                            </div>
                        </div>
                        
                        <div class="large-5 columns">
                            <div class="email-field">
                                <label for="email">Email address</label>
                                <input name="email" type="email" required placeholder="jbruin@media.ucla.edu" value="{{ old_fields.email }}"></input>
                                <small class="error">Please enter a valid email address.</small>
                            </div>
                        </div>
                        <div class="large-2 columns">
                            <div class="permissions-field">
                                <label for="permission">Permissions</label>
                                <select name="permission" required>
                                    <option value="Editors" {% if old_fields.permission == 'Editors' %}selected{% endif %}>Editor</option>
                                    <option value="Copy" {% if old_fields.permission == 'Copy' %}selected{% endif %}>Copy</option>
                                    <option value="Online" {% if old_fields.permission == 'Online' %}selected{% endif %}>Online</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-2 columns large-centered">
                            <input type="submit" value="Save" name="submit" class="button large" />
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <section>
            <p class="title" data-section-title><a href="#panel2">On-switch</a></p>
            <div class="content" data-section-content>
                <form class="meow-settings" method="post" data-abide>
                    {% csrf_token %}
                    <input type="hidden" name="action" value="meow-switch" />
                    
                    <h3>On-switch</h3>
                    <p>If you need meow to stop sending posts for any reason, flip this switch to temporarily turn off sending tweets and posts. Note that when Meow is turned back on, all posts marked as ready will send at once. Meow is currently:</p>
                    <div class="large-2 columns large-centered on-switch-form">
                        <div class="switch round">
                          <input id="x" name="switch-x" type="radio" value="No" {% if send_posts != "Yes" %}checked{% endif %}>
                          <label for="x" onclick="">Off</label>

                          <input id="x1" name="switch-x" type="radio" value="Yes" {% if send_posts == "Yes" %}checked{% endif %}>
                          <label for="x1" onclick="">On</label>
                          <span></span>
                        </div>
                        <input type="submit" value="Save" />
                    </div>
                    <div style="width: 100%;clear: both;display:block;"></div>
                </form>
            </div>
        </section>
        <section>
            <p class="title" data-section-title><a href="#panel2">Site message</a></p>
            <div class="content" data-section-content>
                <form id="site-message-form" method="post" data-abide>
                    <h3>Site message</h3>
                    <p>Post a message at the top of every page on the site. Good for letting users know of downtime. Do not overuse this.</p>
                    {% csrf_token %}
                    <input type="hidden" name="action" value="post-site-message" />
                    <label for="site-message">Message</label>
                    <textarea id="site-message" name="site-message">{{ site_settings.site_message }}</textarea>
                    <input type="submit" value="Save" />
                </form>
            </div>
        </section>
        <section>
            <p class="title" data-section-title><a href="#panel3">Twitter/Facebook accounts</a></p>
            <div class="content" data-section-content>
                <form id="site-message-form" method="post" data-abide>
                    <h3>Twitter/Facebook accounts</h3>
                    <p>Use the buttons below to connect a new Twitter or Facebook account to meow.</p>
                    {% csrf_token %}
                    <div class="row">
                        <div class="large-6 columns">
                            <a href="{{ twitter_auth_url }}" class="button">Connect with Twitter</a>
                        </div>
                        <div class="large-6 columns">
                            <a class="button" href="https://www.facebook.com/dialog/oauth?client_id={{ fb_app_id }}&redirect_uri={{url}}/manage/fb-connect/&scope=manage_pages,publish_actions,publish_pages&response_type=code">Connect with Facebook</a>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div></div>


{% endblock %}
