{% extends "base.html" %}


{% block extra-js %}

<script type="text/javascript">
</script>
{% endblock %}

{% block content %}
{% include "scheduler/include_header.html" %}

{% if message %}
<div class="row">
    <div class="large-12 columns">
        <div class="alert-box {{ message.mtype }}">
            {{ message.mtext }}
        </div>
    </div>
</div>
{% endif %}

<div class="row"><div class="large-12 columns">
    <h2>Meow management</h2>
    <div class="section-container auto" data-section>
        <section class="active">
            <p class="title" data-section-title><a href="#panel1">Add user</a></p>
            <div class="content" data-section-content>
                <form class="add-user" method="post" data-abide>
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="large-6 columns">
                            <div class="first-name">
                                <label for="first_name">First name</label>
                                <input name="first_name" type="text" required placeholder="Joe" value="{{ old_fields.first_name }}"></input>
                                <small class="error">Please enter a first name.</small>
                            </div>
                        </div>
                        <div class="large-6 columns">
                            <div class="last-name">
                                <label for="last_name">Last name</label>
                                <input name="last_name" type="text" required placeholder="Bruin" value="{{ old_fields.last_name }}"></input>
                                <small class="error">Please enter a last name.</small>
                            </div>
                        </div>
                    </div>
                        
                    <div class="row">
                        <div class="large-5 columns">
                            <div class="username-field">
                                <label for="username">Username</label>
                                <input name="username" type="text" required placeholder="jbruin" value="{{ old_fields.username }}"></input>
                                <small class="error">Please enter a username.</small>
                            </div>
                        </div>
                        
                        <div class="large-5 columns">
                            <div class="email-field">
                                <label for="email">Email address</label>
                                <input name="email" type="email" required placeholder="jbruin@media.ucla.edu" value="{{ old_fields.email }}"></input>
                                <small class="error">Please enter a valid email address.</small>
                            </div>
                        </div>
                        <div class="large-2 columns">
                            <div class="permissions-field">
                                <label for="permission">Permissions</label>
                                <select name="permission" required>
                                    <option value="Editor" {% if old_fields.permission == 'Editor' %}selected{% endif %}>Editor</option>
                                    <option value="Copy" {% if old_fields.permission == 'Copy' %}selected{% endif %}>Copy</option>
                                    <option value="Online" {% if old_fields.permission == 'Online' %}selected{% endif %}>Online</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-2 columns large-centered">
                            <input type="submit" value="Save" name="submit" class="button large" />
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div></div>


{% endblock %}